/* .body1 {
  background: linear-gradient(135deg, black, rgb(74, 85, 84));
  height: 100vh;
  width: 100%;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: white;
} */

.body1 {
  background: linear-gradient(135deg, black, rgb(74, 85, 84));

  min-height: 100svh;   /* mobile safe viewport height */
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  text-align: center;

  font-size: clamp(1.8rem, 6vw, 3rem); /* responsive font */
  color: white;
}
