.game-btn2 {
  padding: 14px 32px;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
  font-weight: 600;

  color: #e5f108;
  background: linear-gradient(135deg, #dcdc14, #9d7318);

  border: none;
  border-radius: 12px;
  cursor: pointer;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.game-btn:hover {
}

.game-btn:active {
  transform: scale(0.96);
}
