/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.homePageSetup{
    display: flex;
    flex-direction: column;
}
.players{
    display: flex;
    flex-direction: row;
}

.player{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.pl1{
    color: rgb(255, 124, 2);
}

.pl2{
    color: rgb(16, 243, 250);
}

input{
    margin-top: 10px;
    background-color: #0f0f0f;
    width: 200px;
    height: 40px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    
}

.in1{
    color: rgb(255, 124, 2);
}
.in2{
        color: rgb(16, 243, 250);
}

form{
    display: flex;
    flex-direction: column;
} */

/* Remove spinner */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Layout */
.homePageSetup{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.players{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.player{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Mobile layout */
@media (max-width: 768px){
  .players{
    flex-direction: column;
    align-items: center;
  }
}

/* Player Colors */
.pl1{
  color: rgb(255, 124, 2);
}

.pl2{
  color: rgb(16, 243, 250);
}

/* Inputs */
input{
  margin-top: 10px;
  background-color: #0f0f0f;

  width: 100%;
  max-width: 250px;        /* responsive */
  height: 45px;

  border: none;
  padding: 10px;
  font-size: clamp(0.9rem, 3vw, 1rem);
  border-radius: 10px;

  outline: none;
}

/* Colored input text */
.in1{
  color: rgb(255, 124, 2);
}
.in2{
  color: rgb(16, 243, 250);
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
