.nav1{
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    opacity: 0.85;
    border-bottom: 2px solid rgb(118, 120, 119);
}
.nav2{
    font-size: 2.5rem;
    color: rgb(207, 240, 88);
    margin-left: 50px;
    font-family: 'Montserrat';
}